/* SECTION LAYOUT */
.section {
  padding: var(--space-xl) var(--space-lg) var(--space-xl);
  width: 100%;
}

.hero_section {
  padding-top: 120px;
  padding-left: var(--space-lg);
  padding-right: var(--space-lg);
  padding-bottom: var(--space-xl);
  height: 100%;
  width: 100%;
}

.hero_container {
  max-width: var(--max-width);
  margin-inline: auto; /*align to the center*/
  align-items: top center;
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
} 

.hero_content {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  gap: var(--space-md);
}

.hero_text {
  max-width: 705px;
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}

.about_container {
  max-width: var(--max-width);
  margin-inline: auto; /*align to the center*/
  align-items: top center;
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
} 

.about_content {
  display: flex;
  justify-content: space-between;
  align-items: top left;
  flex-direction: column;
  gap: var(--space-md);
}

.about_imageAndText {
  display: flex;
  align-items: top left;
  flex-direction: row;
  gap: var(--space-md);
}

.about_text {
  max-width: 60%;
}

img {
  max-width: 100%;
  height: auto;
  display: block; /* Removes weird gaps at the bottom of images */
}
