/*  SCROLL INDICATOR  */
.scroll-indicator {
  background: none;
  border: none;
  width: 60px;
  cursor: pointer;
  align-self: flex-start;
}


.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 64px;
  padding-left: var(--space-lg);
  padding-right: var(--space-lg);
  z-index: 1000;
  background-color: var(--ivory);
  opacity: 0.8;

}

.navbar_container {
  height: 64px;
  max-width: var(--max-width);
  margin-inline: auto; /*align to the center*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar_logo {
  font-family: 'Fugaz One';
  font-size: 24px;
  color: var(--hunter-green);
  text-decoration: none;
  white-space: nowrap; /*text stays in one line*/
}

.navbar_nav {
  display: flex;
  align-items: center;
}

.navbar_nav a {
  font-family: 'FuturaPT-Medium';
  height: 64px;
  padding-inline: 36px;
  display: flex;
  align-items: center;
  color: var(--hunter-green);
  text-decoration: none;
  white-space: nowrap; /*text stays in one line*/
  
}

.navbar_container a:hover {
  color: var(--hover-gray);
}

/*  PIGEON CTA  */
.navbar_pigeon {
  position: relative;
  aspect-ratio: 16 / 9;
  width: 226px;
  height: auto;
}

.navbar_pigeon img {
  position: absolute;
  width: 246px;
  height: auto;
  object-fit: cover;
}

.pigeon-hovered{
  opacity: 0;
}

.navbar_pigeon:hover .pigeon-hovered {
  opacity: 1;
}

.navbar_pigeon:hover .pigeon-default {
  opacity: 0;
}

.tooltip {
  position: absolute;
  bottom: -28px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  color: var(--hover-gray);
  opacity: 0;
  pointer-events: none;
}


.hero_container {
  max-width: var(--max-width);
  margin-inline: auto; /*align to the center*/
  align-items: top center;
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
} 

.hero_content {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  gap: var(--space-md);
}

.hero_text {
  max-width: 705px;
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}

.hero_attention {
  display: flex;
  gap: 10px;
  align-items: center;
  color: var(--attention-red);
}

.hero_attention img {
  height: auto;
  width: 30px;
}


.hero_image{
  width: 100%;       /* Allows it to shrink on mobile */
  max-width: 400px;  /* Set your desired maximum size here */
  height: auto;      /* Let the container height grow with the content */
  display: block;
}


.hero_image img, .about_image img, .footer_image img, .skills img, .experience img, .education img, .languages img {
  width: 100%;       /* Force image to match the container width */
  height: auto;      
  object-fit: cover; /* ESSENTIAL: This stops the squishing by cropping instead of stretching */
  display: block;
}

.skills img{
  max-width:300px;
}

.education img{
  max-width:395px;
}
.languages img{
  max-width:350px;
}


.project_image {
  display: block;
  position: relative;
  width: 100%;
  max-width: 900px;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

.project_image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto%;
  object-fit: cover;
}

.color-img{
  opacity: 0;
}

.project_image:hover .color-img {
  opacity: 1;
}

.project_image:hover .bw-img {
  opacity: 0;
}

.download_button {
  position: relative;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  width: 106px;
  height: auto;
}

.download_button img {
  position: absolute;
  top: 0;
  left: 0;
  width: 106px;
  height: auto;
  object-fit: cover;
}

.downloadCVButton-hovered{
  opacity: 0;
}

.download_button:hover .downloadCVButton-hovered {
  opacity: 1;
}

.download_button:hover .downloadCVButton-default {
  opacity: 0;
}

.social-links {
  position: fixed;
  padding: var(--space-xl) 8px;
  display: flex;
  left:0;
  bottom:0;
  flex-direction: column;
  gap: 24px;
  z-index: 1000;
  height: auto;

}

.social-links a {
  position: relative; /*anchor images*/
  display: block;     
  width: 40px;        
  height: 40px;
}

.social-links img {
  position: absolute;
  width: 40px;
  height: 40px;
}

.buttonLinkedin-hovered, 
.buttonEmail-hovered {
  opacity: 0;
}

.buttonLinkedin-default, 
.buttonEmail-default {
  opacity: 1;
}

.social-links a:hover .buttonLinkedin-hovered, 
.social-links a:hover .buttonEmail-hovered {
  opacity: 1;
}

.social-links a:hover .buttonLinkedin-default, 
.social-links a:hover .buttonEmail-default {
  opacity: 0;
}


.about_container {
  max-width: var(--max-width);
  margin-inline: auto; /*align to the center*/
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
  height: auto;
} 

.about_content {
  display: flex;
  justify-content: space-between;
  align-items: top left;
  flex-direction: column;
  gap: var(--space-md);
}

.about_imageAndText {
  display: flex;
  align-items: top left;
  flex-direction: row;
  gap: var(--space-md);
}

.about_image {
  max-width: 40%;
  height: auto;      /* Let the container height grow with the content */
  display: block;
}

.about_text {
  max-width: 60%;
}

.about_skills  {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 900px;
  gap:36px;
}

.skillsAndExperience, .educationAndLanguages{
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: space-between;
  width: 100%;
}

.skills, .experience, .education, .languages {
  display: flex;
  flex-direction: column;
  align-items: top left;
  gap: var(--space-md);
  width: 100%;
  max-width: 430px;
}

.projects_container {
  display: flex;
  flex-direction: column;
  align-items: top center;    
  justify-content: flex-start; 
  width: 100%;
  margin-inline: auto;
  gap: var(--space-lg);
  height: auto;
}

.projects_grid{
  display: flex;
  flex-direction: column;
  gap: var(--space-xl);
}

.project_card {
  display: flex;
  flex-direction: row;
  width: 100%; 
  justify-content: space-between; /* auto gap */

}

.project_text{
  min-width: 360px;
  max-width: 400px;
}






.footer_container {
  display: flex;
  max-width: var(--max-width);
  margin-inline: auto; /*align to the center*/
  justify-content: space-between;
  align-items: center;
  gap: var(--space-md);
  flex-direction: column;
  width: 100%;
}

.footer_container a,
.footer_container p {
  font-size: 16px;
  font-family: 'FuturaPT-Medium';
  color: var(--white);
  white-space: nowrap;
  text-decoration: none;
}

.footer_container a:hover {
  color: var(--hover-gray);
}
  

.footer_content {
  display: flex;
  justify-content: space-between;/*auto space*/
  flex-direction: row;
  width: 100%;
}


.reachedFootertext {
  display: flex;
  align-items: top center;
  flex-direction: column;
  gap: 36px;
}


.footer_image img{
  max-width: 120px;
  height: auto;
}

.CTA{
  display: flex;
  align-items: top center;
  flex-direction: column;
  gap: 36px;
}

.navFooter {
  display: flex;
  align-items: top center;
  flex-direction: column;
  gap: 36px;

}

.footer_container .copyright {
  font-size: 14px;
  font-family: 'FuturaPT-Light';
  color: var(--white);
  white-space: nowrap;
}

.footer_container .copyright {
  font-size: 14px;
  font-family: 'FuturaPT-Light';
  color: var(--white);
  white-space: nowrap;
  width: fit-content; 
  

}




