/* SECTION LAYOUT */
.section {
  padding: var(--space-xl) var(--space-lg) var(--space-xl);
  width: 100%;
}

.hero_section {
  padding-top: 120px;
  padding-left: var(--space-lg);
  padding-right: var(--space-lg);
  padding-bottom: var(--space-xl);
  height: 100%;
  width: 100%;
}



.hero_container {
  max-width: var(--max-width);
  margin-inline: auto; /*align to the center*/
  align-items: top center;
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
} 

.hero_content {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  gap: var(--space-md);
}

.hero_text {
  max-width: 705px;
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}

.about_container {
  max-width: var(--max-width);
  margin-inline: auto; /*align to the center*/
  align-items: top center;
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
} 

.about_content {
  display: flex;
  justify-content: space-between;
  align-items: top left;
  flex-direction: column;
  gap: var(--space-md);
}

.about_imageAndText {
  display: flex;
  align-items: top left;
  flex-direction: row;
  gap: var(--space-md);
}

.footer_section{
  height: 400px;
  padding-top: 36px;
  padding-left: var(--space-lg);
  padding-right: var(--space-lg);
  padding-bottom: 36px;
  height: 100%;
  width: 100%;
  background-color: var(--hunter-green);
}

.footer_container {
  display: flex;
  max-width: var(--max-width);
  margin-inline: auto; /*align to the center*/
  justify-content: space-between;
  align-items: center;
  gap: var(--space-md);
  flex-direction: column;
  width: 100%;
}

.footer_container a,
.footer_container p {
  font-size: 16px;
  font-family: 'FuturaPT-Medium';
  color: var(--white);
  white-space: nowrap;
  text-decoration: none;
}
  

.footer_content {
  display: flex;
  justify-content: space-between;/*auto space*/
  flex-direction: row;
  width: 100%;
}


.reachedFootertext {
  display: flex;
  align-items: top center;
  flex-direction: column;
  gap: 36px;
}


.footer_image img{
  max-width: 120px;
  height: auto;
}

.CTA{
  display: flex;
  align-items: top center;
  flex-direction: column;
  gap: 16px;
}

.navFooter {
  display: flex;
  align-items: top center;
  flex-direction: column;
  gap: 16px;

}

.footer_container .copyright {
  font-size: 14px;
  font-family: 'FuturaPT-Light';
  color: var(--white);
  white-space: nowrap;
}

.footer_container .copyright {
  font-size: 14px;
  font-family: 'FuturaPT-Light';
  color: var(--white);
  white-space: nowrap;
  width: fit-content; 
  

}




