/*  RESET  */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*  DESIGN   */
:root {
  /* Colors */
  --hunter-green: #245F34;
  --ivory: #EBF1E5;
  --muted-olive: #8CAE68;
  --white: #ffffff;
  --black: #000000;
  --hover-gray: #A4A4A4;
  --attention-red: #EA0000;

  /* Layout */
  --max-width: 1280px;

  /* Spacing */
  --space-xs: 8px;
  --space-sm: 12px;
  --space-md: 24px;
  --space-lg: 64px;
  --space-xl: 96px;
}

/*  FONTS  */
@font-face {
  font-family: 'FuturaPT-Medium';
  src: url('../../public/fonts/FuturaPT-Medium.woff2') format('woff2');
  
}

@font-face {
  font-family: 'FuturaPT-Book';
  src: url('../../public/fonts/FuturaPT-Book.woff2') format('woff2');
}

@font-face {
  font-family: 'FuturaPT-Light';
  src: url('../../public/fonts/FuturaPT-Light.woff2') format('woff2');
 
}

@font-face {
  font-family: 'Fugaz One';
  src: url('../../public/fonts/FugazOne-Regular.woff2') format('woff2');
}

/*  GLOBAL  */
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'FuturaPT-Book', sans-serif;
  color: var(--black);
  background-color: var(--ivory);
  line-height: 1.4;
  
}

.main-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  flex: 1;
  min-height: 100vh;
}

/* SECTION LAYOUT */
.section {
  padding: var(--space-xl) var(--space-lg) var(--space-xl);
  width: 100%;
}

.hero_section {
  padding-top: 120px;
  padding-left: var(--space-lg);
  padding-right: var(--space-lg);
  padding-bottom: var(--space-xl);
  height: 100%;
  width: 100%;
}

#about {
background-color: var(--white);
}

#projects{
  padding-right: 0;
}

.footer_section{
  margin-top: auto;
  padding-top: 36px;
  padding-left: var(--space-lg);
  padding-right: var(--space-lg);
  padding-bottom: 36px;
  height: 100%;
  width: 100%;
  background-color: var(--hunter-green);
}


/*  GLOBAL text styles  */
.introductionText{
  font-family: 'FuturaPT-Medium';
  font-size: 96px;
}
h1 {
  font-family: 'FuturaPT-Medium';
  font-size: 48px;
}

h2 {
  font-family: 'FuturaPT-Book';
  font-size: 36px;
}

h3 {
  font-family: 'FuturaPT-Light';
  font-size: 20px;
}

p {
  font-family: 'FuturaPT-Book';
  font-size: 20px;;
}