.hero_projectcontainer {
  display: flex;
  flex-direction: row;
  max-width: var(--max-width);
  margin-inline: auto; /*align to the center*/
  align-items: center;
  justify-content: space-between;
  
} 

/*Hero*/
.project_hero_image {
  max-width: 900px;  
  height: auto;
  width: fit-content;
  display: block;
  margin-inline: auto; /*align to the center*/
  align-items: center;   
}

.project_hero_image img{
     
        
  display: block;
}

/*About Project Section*/

.project_container {
  display: flex;
  flex-direction: column;
  margin-inline: auto; /*align to the center*/
  max-width: var(--max-width);
  
  gap: var(--space-lg);
 
}


.project_content{
    display: flex;
    flex-direction: column;
    gap: var(--space-xl);
    top: 0px;
    left: 0px;
}
/*PROJECT DESCRIPTION*/
.project_description{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 36px;
  top:0;
  left:0;
}

.keypoints{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: auto;
    gap: var(--space-md);
}

.keypoints ul{
  list-style-position: inside;
  padding-left: 0;
  font-family: 'FuturaPT-Light';
  font-size: 20px; 
}

.keypoints p{
  font-family: 'FuturaPT-Medium';
  font-size: 20px;
}

.keypoint{
    display:flex;
    flex-direction: column;
    gap: 8px; /*between title ("What I Did") and the rest*/
}

.highlight-bullet{
  font-family: 'FuturaPT-Medium';
  gap: 4px; 
}

.descriptionAndphoto{
    display: flex;
    flex-direction: column;
    width: 640px;
        justify-content: space-between;

    gap: 20px;
}

/*end PROJECT DESCRIPTION*/


.photos_project{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    gap: 36px;
}

.Img1And2Project{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
}

.photos_project img{
    width: 100%;
    height: auto;
    flex: 1 1 calc(50% - 10px);/*to make them responsive*/
}

.Img1And2Project img{
    width: 100%;
    height: auto;
    flex: 1 1 calc(50% - 10px);/*to make them responsive*/
}





